
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: #333;
  line-height: 1.6;
}



/* Unit Description Box */
.unit-description {
  border: 2px solid #DC2E27;
  background-color: #fdf2f2;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.unit-description h2 {
  color: #DC2E27;
  margin-bottom: 0.5rem;
}

.unit-description p {
  color: #333;
  font-size: 1rem;
}

/* Project List */
.project-list {
  list-style: none;
  padding: 0;
}

.project-item {
  border: 2px solid #18767E;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease;
}

.project-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
  cursor: pointer;
  color: #DC2E27;
  margin: 0;
  font-weight: bold;
}

.project-details {
  display: none;
  margin-top: 0.5rem;
  color: #333;
}


 @media screen and (max-width: 800px) {
      html {
        font-size: 14px; /* Set a base font size for the root element */
      }
      p {
        font-size: 18px; /* Body text will be 14px */
      }
      h1 {
        font-size: 2.5rem; /* H1 will be 2.5 times the root font size */
      }
      li {
        font-size: 18px; /* Body text will be 14px */
      }
    }
